html
    head
        title Event Segmentation Experimental Paradigm
        link(rel="stylesheet", href="./css/center.css")
    body
        div(class="centerdiv")
            p Event Segmentation Paradigm Start
            br
            P Please type your ID and press Start.
            form(action="/setID" method="get")
                input(type="text" name="id" autofocus)
                input(type="submit" value="Start")