html
    head
        title Select 3 emotional categories
        link(rel="stylesheet", href="./css/center.css")
        link(rel="stylesheet", href="./css/emotion.css")
        script(src="./js/jquery-3.4.1.min.js")
        script(src="./js/emotion.js")
    body
        div(class="centerdiv")
            p Please select 3 emotional categories.
            br
            div(class="emotion")
                p Anticipation
                p Anger
                p Disgust
                p Fear
                p Trust
                p Joy
                p Surprise
                p Sad