html
    head
        title End of the Expriment
        link(rel="stylesheet", href="./css/center.css")
    body
        div(class="centerdiv")
            p End of the Experiment
            br
            a(href="/") Return to Start